

#Drag_pic_text {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
   }
  #Drag_pic_text> div > h1 {
      font-size: 45px;
      padding: 10px;
      color: rgb(10, 12, 114);
      text-align: center;
  }


 #mid_text {
    display: flex;
    gap: 0px;
    margin-left: 120px;
}

.midtext_class{
    padding: 23px 60px;
    height: 450px;
    width: 600px;
    margin-top: 25px;

}
.midtext_class > h1 {
    color: #181c47;
    font-family: sans-serif;
     font-size: 40px;

}
.midtext_class > p {
    color: #181c47;
    font-family: sans-serif;
    font-size:29px;
}
.midtext_class > button {
    font-weight: 700;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    color: rgb(14, 14, 209);
    font-size: 16px;
    border: 2px solid rgb(14, 14, 209);
    background-color: white;
}
.big_image {
    padding: 23px 45px;
    height: 450px;
    width: 600px;
    margin-bottom: 80px;
    margin-right: 80px;
}

.big_image > img {
    height: 500px;
    width: 700px;
  
}
div{
    text-align: center;
    font-size: 22px;
}
/* page2 */
#front  {
   
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px;
    margin: 45px;
    margin-left: 170px;

  
} 

.cont{
    text-align: center;
    color: #181c47;
    font-family: sans-serif;
}

.drag {
    height: 100px;
}

.sales {
    text-align: center;
    font-size: 17px;
}
.ball {
    text-align: center;
    font-size: 20px;
}
.ball_2 {
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
}
.buton_nil {
    padding: 1%;
    width: 300px;
    height: 50px;
    background-color: purple;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

#Parag{
    width: 100%;
    height: 800px;
    
    
}
.Plogo{
    width: 15%;
    height: 5px;
   
    margin: auto;
    margin-bottom: 85px;
}
.Plogo>img{
    width: 100%;
    height:80px;
    
}
.Pdiv1{
    width: 80%;
    height: 100px;
    display: flex;
   
    margin: auto;
}
.Pdiv1>div{
   margin: auto;
   color: blue;
   font-weight: bold;
}
.Pdiv2{
    width: 50%;
    height: 60px;
    display: flex;
    margin-left: 20px;
}
.Pdiv2>div{
   padding-left: 36px;
}
.Pdiv2>div>p{
    padding-left: 65px;
    
}
.Pdiv2>div>button{
    border-radius: 10px;
    text-align: center;
    
    padding: 10px;
    background-color: blue;
    color: white;

}

#navbar{
    padding: 0;
    margin: 0;
}

.navbar_div1>div:nth-child(1){
    width: 40%;
    height: 5vh;
}
#navbar img{
    width: 110%;
    height: 150%;
    margin-top: -20px;
    margin-right: 15px;
}
.navbar_div2{
    display: flex;
}
.navbar_div2>div:nth-child(1){
    width: 15%;
    height: 10vh;
}
.navbar_div2>h4{
    margin-top: 40px;
    margin-left: 20PX;
    color: navy;
    align-items: center;
}
.navbar_div2>h4:nth-of-type(6){
    flex-grow: 3;
}
.navbar_div3{
    display: grid;
    grid-template-areas: "left1 l"
    "left2 right"
    "left3 right"
    "left4 right"
    "left5 right"
    "left6 right";
    background-color: #f4f9fc;
    margin-top: 10px;
}
#left1{
    height: 90px;
    grid-area: left1;
}
#left2{
    height: 90px;
    grid-area: 2;
    margin-left: 190px;
}
#left3{
    height: 90px;
    grid-area: 3;
}
#left4{
    height: 90px;
    grid-area: 4;
}
#left5{
    height: 90px;
    grid-area: left5;
}
#left6{
    height: 90px;
    grid-area: left6;
}
#right{
    height: 420px;
    grid-area: right;
}
#left1>img{
     width: 20vw;
     height: 5.6vw;
}
#left2>img{
     width: 10vw;
     height: 5.6vw;
}
.navbar_div3_left{
    display: flex;
}
#left3>div{
     width: 10vw;
     height: 5.6vw;
}
#left4>div{
     width: 10vw;
     height: 5.6vw;
}
#left5>div{
     width: 10vw;
     height: 5.6vw;
}
#left6>div{
     width: 10vw;
     height: 2vw;
}
#navbar h1{
    font-size: 57px;
    color: navy;
}
#navbar button{
    background: navy;
    width: 40vh;
    height: 8vh;
    border-radius: 25px;
    color: white;
    font-size: 24px;
}
#right>div{
    width: 525px;
    height: 332px;
    background: rgba(255,111,94,255);
}

/* PAGE #4 css */

a{
    text-decoration: none;
    
}

html{
    scroll-behavior: smooth;
}


body{
    color: #181c47;
    font-family: cursive;
}
h1{
    font-family: 'Playfair Display', serif;
}

.main_container{
    padding: 40px 0px;
    background-color: rgba(243,243,249,255);
}
.content_container{
    max-width: 1170px;
    margin: auto;
}
.main_section1_div{
    font-size: 20px;
    font-weight: bolder;
    color: rgba(24,28,71,255);
    letter-spacing: 1px;
}
.main_section1_h1{
    font-size: 40px;
    font-weight: bolder;
    color: rgba(24,28,71,255); 
    letter-spacing: 1px;
}
.main_section1_p{
    font-size: 20px;
    letter-spacing: 1px;
    font-family:inherit;
    font-weight:600;
    color: rgba(24,28,71,255);
}
.main_section1{
    text-align: center;
}

.list_item{
    padding: 8px;
    margin: auto;
}
.main_ul{
    color: rgba(50,87,158,255);

    font-size: 18px;
    margin: 30px 0px;
    display: flex;
    list-style: none;
    font-weight:600;
    letter-spacing: 1px;
    
}
.imga{
    margin: auto;
    display: block;
    width: 100px;
    height: 20px;
    background-image: url(https://animoto.com/static/wavy-7ff02f13569c9c84a7174f4fd2050300.svg);
    background-repeat: no-repeat;
    background-size: 121px 9px;
}
.grid_colam{
    margin-left: 15px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 20px;
    padding: 0 0 5%;
  
}
.button_in_main{
    cursor:pointer;
    height: 64%;
    border: none;
    
}
.button_in_main img{
    filter: drop-shadow(13px 13px 3px rgba(222,222,228,255));
}
.btn2_main{
    cursor:pointer;
    color: white;
    width: 285px;
    height: 45px;
    border-radius: 40px;
    margin-left: 8px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    background-color: rgba(35,64,140,255);
  
}
.div_grid_colam{
    width: 285px;
}
   .div1_grid_colam{
    color: rgba(24,28,71,255);

    font-weight: 600;
    text-align: left;
    margin: 30px 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.last_div_grid_colam{
    letter-spacing: 1px;
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #23408c;
    padding-bottom: 4px;
    color: #23408c;
}
.play_btn{
        position: absolute;
        top: 48px;
        left: 48px;
        width: 64px;
        height: 64px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-top: -32px;
        margin-left: -32px;
        background-color: rgba(0,0,0,.4);
        background-image: url(/static/play-pause-cd04475….svg);
        background-position: -2px -1px;
        background-size: 256px 128px;
        text-indent: 100%;
        cursor: pointer;
        overflow: hidden;
}

/* page4 part1 */
#cust{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}
#cust>div{
    width: 30%;
    margin: auto;
}
#cust>div>img{
    width: 40%;

}
#cust>div:nth-child(1){
    margin-top: -6px;
}
/* page4 mid sec */

#all{
   text-align: center;
}
.alllogo{
    width: 80%;
    height: 150px;
    display: flex;
   
    margin: auto;
   
}
.alllogo>div{
    width: 20%;
    height: 50px;
}
.alllogo>div>img{
    display: block;
    margin: auto;
    padding: 10px;
    width: 60%;
}
#parent{
    background-color: #0d1aa5;
    color: white;
    padding: 10px;
}
#parent>div>h1{
    font-size: medium;
}
#parent>button{
    margin-top: 20px;
    border-radius:30px;
    padding: 10px;
    margin-bottom: 20px;
    color: #0d1aa5;
}
#parent>div>p{
    margin-top: 50px;
}


/* page 4 new last */
.page_1 {
    display: flex;
    flex-direction:row;
    max-width: 1200PX;
    margin: auto;
    margin-top: 100px;
}
.page2{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 550px;
    
}

.page3 img {
    width: 140px;
    height: 18px;
}
/* .form_56  {
    font-size: 20px;
} */

.page5 img {
    width: 660px;
    height: 490px;
    padding-left: 50px;

}
.page4 {
    font-size: 20px;
}

/* * FOOTER */ 



footer {
    background: black;
    color: rgb(99, 99, 99);
    padding: 25px 0px;
}

.center_logo {
    text-align: center;
}

.center_logoA {
    display: inline-block;
    width: 38px;
    height: 32px;
    background: url(https://animoto.com/static/Logo-b634e191767bb07f78b4534cf5171c33.svg) no-repeat;
}

.footer_main1 {
    margin-top: 80px;
    height: 45px;
    width: 100%;
    background-color: #f3f3f9;
}

.footer_main_btn {
    width: 100%;
    padding: .81481rem 0;
    border: none;
    margin: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.footer_main_btn_div {
    color: #181c47;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer_main2 {
    width: 100%;
    background-color: #dadada;
}
.footer_main2_div_ul5_ul{
    display: flex; 
    padding: 0;
}

.footer_main2_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.37037rem 1.48148rem;
    line-height: 24px;
}

.footer_main2_div_ul1 {
    padding-bottom: 10px;
    list-style: none;
    margin-bottom: .59259rem;
}

.footer_main2_div_ul1_div1 {
    margin-bottom: 8px;
    color: #181c47;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footer_main2_div_ul1_div1l1 {
    /* color: #969696; */
    margin-bottom: 8px;
    font-size: 15px;
}

.facebookmarketin {
    background-image: url(https://animoto.com/static/FacebookPartnerIcon-961906786656ef476b0062fa5d9a23e0.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    min-height: inherit;
    width: 120px !important;
    height: 34px;
    background-size: 120px 65px;
}

.instgram_icon {
    background-image: url(https://animoto.com/static/InstagramPartnerIcon-a25842f56300416b98d0c2b1ce1485d6.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    min-height: inherit;
    width: 138px !important;
    height: 26px;
    background-size: 138px 111px;
}


.youtub_icon {
    display: inline-block;
    min-height: inherit;
    width: 72px !important;
    height: 34px;
    background-size: 100px 45px;
    background-image: url(https://animoto.com/static/YoutubePartnerIcon-a2c50cfcbdfaa231cb43a768f4ad2c81.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.all_icon {
    height: 32px;
    width: 32px;
}

.fb_icon {
    fill: #3b5998;
}

.you_tub_icon {
    fill: red;
}

.twet_icon {
    fill: #0077b5;
}

.insta_icon {
    fill: #e34060;
}

.linkd_icon {
    fill: #00aced;
}

.all_icon2 {
    padding: 2px;
    display: inline-block;
    line-height: 0;
}




